@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekanFN;
  src: url("./assets/fonts/IRANYEKANREGULARFANUM.TTF");
  font-weight: 400;
}
@font-face {
  font-family: IRANYekanFN;
  src: url("./assets/fonts/IRANYEKANMEDIUMFANUM.TTF");
  font-weight: 500;
}
@font-face {
  font-family: IRANYekanFN;
  src: url("./assets/fonts/IRANYEKANLIGHTFANUM.TTF");
  font-weight: 300;
}
@font-face {
  font-family: IRANYekanFN;
  src: url("./assets/fonts/IRANYEKANEXTRABOLDFANUM.TTF");
  font-weight: 800;
}
@font-face {
  font-family: IRANYekanFN;
  src: url("./assets/fonts/IRANYEKANBLACKFANUM.TTF");
  font-weight: 900;
}
@font-face {
  font-family: IRANYekanFN;
  src: url("./assets/fonts/IRANYEKANEXTRABLACKFANUM.TTF");
  font-weight: 1000;
}
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

:root{
  --primary: #154160;
}

body,
html {
  font-family: "IRANYekanFN", "Vazirmatn", sans-serif, serif;
}

.env-padding {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
/* radio faker */

.radio-secondary input {
  display: none;
}

.radio-secondary input:checked ~ .radio-faker {
  border: var(--primary) solid 3px;
}

.radio-secondary input:checked ~ .radio-faker::after {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 100px;
  display: block;
  background-color: var(--primary);
}

.radio-filter{
  position: relative;
  padding: 16px 0;
}

.radio-filter input {
  display: none;

}

.radio-filter input ~ .radio-filterfaker {
  transition: 1s opacity;
  opacity: 0;
  position: absolute;
  bottom:-32px;
  width: 32px;
  height: 32px;
  display: block;
  border-right: 18px solid transparent; 
  border-left: 18px solid transparent; 
  border-bottom: 18px solid transparent; 
  border-top: 10px solid  var(--primary); 
  
}

.radio-filter span {
 color: #bfd6e7;
}

.radio-filter input:checked ~ span {
  color: var(--primary);
}
.radio-filter input:checked ~ .radio-filterfaker {
  border: var(--primary) solid 3px;
}

.radio-filter input:checked ~ .radio-filterfaker {
  content: " ";
  position: absolute;
  bottom:-22px;
  width: 32px;
  height: 32px;
  display: block;
  border-right: 18px solid transparent; 
  border-left: 18px solid transparent; 
  border-bottom: 18px solid transparent; 
  border-top: 10px solid  var(--primary); 
  opacity: 1;

}



::-webkit-scrollbar {
  display: none;
}
